<html>
    <head>
        <link rel="stylesheet" type="text/css" href="./css/index.css" /> 
    </head>
    <body style="background-image: url('./img/carpet.jpg'); background-size: 54em;">
        <audio id="vacuumStart" src='./audio/vacuumStart.wav'></audio>
        <audio id="vacuumSuck" src='./audio/vacuumSuck.wav'></audio>
        <audio id="vacuumStop" src='./audio/vacuumStop.wav'></audio>
        <div tabindex="1">
            <canvas id="canvas"></canvas>
            <div style="display:none;">
                <img id="source"
                src="./img/roomba.png"
                width="300" height="227">
            </div>
        </div>
        <script src="./js/index.js"></script>
    </body>
</html>