div:focus {
    outline: none;
}

canvas {
  position: absolute;
}

#basketball {
  position: absolute;
  z-index: 1;
}
body {
  /* background-color: red;  */
  background-image: url('./img/carpet.jpg'); 
  /* background-size: 30em; */
}